.header-div {
  display: flex;
  align-items: center;
  padding: 10px;
  background: dodgerblue;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-decoration: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
}
